<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleAddplan.css') }}">
    <title>Add Trip</title>
</head>
<body>
    <div class="container_button">
        <button class="mainbutton" onclick="location.href='/logout'">Logout</button>
        <button class="mainbutton2" onclick="location.href='/travels'">Home</button>
    </div>
    <h1>Add a Trip</h1>
    {% with messages = get_flashed_messages(category_filter=["addTrip"]) %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post" action="/add">
        <div>
            <label for="destination">Destination:</label>
            <input type="text" name="destination" id="destination">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div>
            <label for="travel_date_from">Travel Date From:</label>
            <input type="date" name="travel_date_from" id="travel_date_from">
        </div>
        <div>
            <label for="travel_date_to">Travel Date To:</label>
            <input type="date" name="travel_date_to" id="travel_date_to">
        </div>
        <input type="submit" value="Add">
    </form>
</body>
</html>