<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleAddplan.css') }}">
    <title>Add Trip</title>
</head>
<body>
    <nav>
        <h1><span class="logo">Friendsther</span></h1>
        <ul class="navbar">
            <li><a class="mainbutton" href="/travels">My Travel</a></li>
            <li><a class="mainbutton" href="/othertravels">Join Travel</a></li>
            <li><a class="mainbutton" href="/show">Create Travel</a></li>
            <li><a class="mainbutton" href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="main__container">
        <div class="sub__container">
            <h2>Add a Trip</h2>
            {% with messages = get_flashed_messages(category_filter=["addTrip"]) %}
            {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <form method="post" action="/update_trip/{{ trip.id }}">
                <div>
                    <label for="destination">Destination:</label>
                    <input type="text" name="destination"  value="{{ trip.destination }}">
                </div>
                <div>
                    <label for="travel_date_from">Travel Date From:</label>
                    <input type="date" name="travel_date_from"  value="{{ trip.travel_date_from }}">
                </div>
                <div>
                    <label for="travel_date_to">Travel Date To:</label>
                    <input type="date" name="travel_date_to"  value="{{ trip.travel_date_to }}">
                </div>
                <div>
                    <textarea name="description"  placeholder="Plans/ Description / Please add you contact here" rows="8">{{ trip.description }}</textarea>
                </div>
                <div>
                <input type="hidden" name="trip_id" value="{{ trip.id }}">
                </div>
                <button type="submit" class="add__button">Save</button>
            </form>
        </div>
    </div>
</body>
</html>