<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleDetails.css') }}">
    <title>Trip Details</title>
</head>
<body>
    <nav>
        <h1><span class="logo">Friendsther</span></h1>
        <ul class="navbar">
            <li><a class="mainbutton" href="/travels">My Travel</a></li>
            <li><a class="mainbutton" href="/othertravels">Join Travel</a></li>
            <li><a class="mainbutton" href="/show">Create Travel</a></li>
            <li><a class="mainbutton" href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="main__container">
        <div class="sub__container">
            <div class="sub__container1">
                <p class="destination">{{trip.destination}}</p>
                <div>
                    <a href="/trips/edit/{{ trip.id }}"><img src="{{ url_for('static', filename='img/edit.png') }}" class="edit__button" alt="edit"></a>
                    <a href="/trips/delete/{{ trip.id }}"><img src="{{ url_for('static', filename='img/delete.png') }}" class="delete__button" alt="delete"></a>
                </div>
            </div>
            <p>Planned By: {{ trip.creator_name }}</p>
            <p>Description : {{trip.description}}</p>
            <p>Travel Date From: {{ trip.travel_date_from.strftime('%B %d, %Y') }}</p>
            <p>Travel Date To: {{ trip.travel_date_from.strftime('%B %d, %Y') }}</p>
            <h3>Other Users joining the trip:</h3>
            <ul>
                {% for user in attendees %}
                <li>{{ user.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>