<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleTravel.css') }}">
    <title>Travel Dashboard</title>
</head>
<body>
    
    <button class="mainbutton" onclick="location.href='/logout'">Logout</button>
    <h1>Hello, {{user.name}}!</h1>
    <table>
        <caption>Your Trip Schedules</caption>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plan</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <td><a href="/travels/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
                <td>{{ trip.travel_date_from .strftime('%B %d, %Y')  }}</td>
                <td>{{ trip.travel_date_to .strftime('%B %d, %Y')  }}</td>
                <td>{{ trip.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <caption>Others User's Travel Plans</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Do you want to Join?</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in other_trips %}
            <tr>
                <td>{{ trip.creator_name }}</td>
                <td><a href="/travels/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
                <td>{{ trip.travel_date_from .strftime('%B %d, %Y')  }}</td>
                <td>{{ trip.travel_date_to .strftime('%B %d, %Y') }}</td>
                <td>
                    <form action="/join/{{ trip.id }}" method="POST">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="trip_id" value="{{ trip.id }}"> <!-- Add this hidden input field -->
                        <button type="submit">Join</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="mainbutton" onclick="location.href='/show'">Create Travel</button>
</body>
</html>