/* Styles for the navigation bar */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Montserrat:wght@600&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background:#121212;
}

.logo{
    color:	#1db954;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-shadow:0px 1px 1px  white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 63%;
    margin-left:auto;
    margin-right: auto;
}

.trip__creator{
    font-size: large;
    font-weight: 600;
}

.trip__creator::first-letter{
    text-transform: uppercase;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    justify-content: center;
}

.join__button{
    padding: 5px;
    margin-top: 10px;
    border-radius: 10%;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: black;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.join__button:hover{
    background-color: 	#1db954;
    border-color: #fff;
    transition: all .2s ease-in-out;
}

.dates{
    font-weight: bold;
}

li{
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar a {
    float: left;
    color: white;
    width: 100px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    border-radius: 50px;
    background-color: #1db954;
    transition: all .2s ease-in-out;
}

.main__container{
    width: 63%;
    height: auto;
    margin-left: 18.7%;
    margin-right: 18.7%;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

.sub__container{
    width: 92%;
    padding: 22px;
    margin: 20px 0 0 0;
    height: auto;
    font-size: small;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #212121;
    box-shadow: 0px 3px 5px #1db954;
}

.sub__container:hover{
    box-shadow: 0px 1px 2px #1db954;
    background-color: #303030;
}

h3{
    margin:20px 0 20px 0;
    color: white;
}

h4{
    text-align: center;
    color: white;
    width: 95%;
}

.destination__link{
    text-decoration: none;
}

.destination{
    font-size: 25px;
    font-weight: 600;
    color: #1db954;
    text-transform: uppercase;
}

/* Media query for responsiveness */

@media screen and (max-width: 800px) {

    .destination{
        font-size: 16px;
    }

    .date{
        display: grid;
    }
    
    .navbar {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        width: 100%;
        background-color: rgb(42, 43, 43);
        padding-bottom: 20px;
    }

    .navbar a {
        color: black;
        font-size: smaller;
        text-decoration: none;
        list-style: none;
        text-align: center;
        padding: 5px;
        border-radius: 20px 500px;
        border: #1db954 solid 1px;
        margin-top: 5px;
        text-decoration: none;
        background-color: #1db954;
    }

    .navbar a:hover {
        border-radius: 5px;
        background-color: white;
        transition: all .2s ease-in-out;
    }

    .logo{
        color: #1db954;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        width: 100%;
        text-shadow:0px 1px 3px  white;
    }
}